// Top green nav bar (homepage only)
#section-30-3719 {
	position: relative;

	@include bp($tablet) {
		position: fixed;
		top: 0;
		padding: 0.6rem;
		z-index: 99;
		ul li a { font-size: 0.9375rem; }
	}
}

// push the top portion down slightly on tablet+ to compensate for sticky nav
#section-331-3698 {
	margin-top: 0;
	margin-bottom: 0;

	@include bp($tablet) {
		margin-top: 2rem;
		margin-bottom: 0.5rem;
	}

	@include bp(992px) { margin-top: 3.5rem; }
}

// override background image for a smooth transition
#section-13-3530 {
	background: linear-gradient(
		90deg,rgba(0,0,0,0.65),rgba(0,0,0,0.35),
		rgba(0,0,0,0.25),rgba(0,0,0,0),rgba(0,0,0,0)
	), url('../media/dog.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}