// standard colors
$black: #000;
$white: #FFF;
$smoke: #111F2A;
$light-black: #454545;

// fonts
$font-body: 'bilo', sans-serif;
$font-head: 'Sacramento', cursive;
$fa: FontAwesome;

// alt mq sizes
$iphone678: 375px;
$small-tablet: 400px;
$iphonex: 414px;
$xs: 480px;
$tablet: 768px;
$laptop: 1023px;
$desktop: 1200px;

// mq mixin
@mixin bp($size) {
	@if $size == xs {
		@media (min-width: 480px) { @content; }
	} @else if $size == sm {
		@media (min-width: 810px) { @content; }
	} @else if $size == md {
		@media (min-width: 1023px) { @content; }
	} @else if $size == lg {
		@media (min-width: 1200px) { @content; }
	} @else if $size == xl {
		@media (min-width: 1340px) { @content; }
	} @else {
		@media (min-width: $size) { @content; }
	}
}