/*!
	Plugin Name: Fund Fido Features Plugin
	Author: Baseline Creative | Shane Schroll
	Description: Do not deactivate or delete. Supports functionality for the Fund Fido System.
	Version: 1.0.3
*/*{-webkit-box-sizing:border-box;box-sizing:border-box}#section-30-3719{position:relative}@media (min-width:768px){#section-30-3719{position:fixed;top:0;padding:0.6rem;z-index:99}#section-30-3719 ul li a{font-size:0.9375rem}}#section-331-3698{margin-top:0;margin-bottom:0}@media (min-width:768px){#section-331-3698{margin-top:2rem;margin-bottom:0.5rem}}@media (min-width:992px){#section-331-3698{margin-top:3.5rem}}#section-13-3530{background:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0.65)),color-stop(rgba(0,0,0,0.35)),color-stop(rgba(0,0,0,0.25)),color-stop(rgba(0,0,0,0)),to(rgba(0,0,0,0))),url("../media/dog.jpg");background:linear-gradient(90deg,rgba(0,0,0,0.65),rgba(0,0,0,0.35),rgba(0,0,0,0.25),rgba(0,0,0,0),rgba(0,0,0,0)),url("../media/dog.jpg");background-size:cover;background-position:center;background-repeat:no-repeat}
/*# sourceMappingURL=style.css.map */